<!doctype html>
<html ng-app="nodeApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
      <script src="nodes.js"></script>
    <!-- Bootstrap core CSS -->
     <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="nodes.css">
  </head>
  <body>
    <div ng-controller="NodeController" class="wrapper">
      <h2> {{nodes.length}} Nodes Registered in the COAP Registry </h2>
      <div class="container">
        <div ng-repeat-start="node in nodes" class="row" >
         <div  class="node" class="col-md-4">
            <div id="circle1" class="circle" style='background-color:{{node.color}}'></div>
            <img src="images/freedom_board_thread.jpg" />
            <p> {{node.id}} </p>
             <button ng-click="putColor(node.id, 'red')">Red</button><br />
             <button ng-click="putColor(node.id, 'green')">Green</button><br />
             <button ng-click="putColor(node.id, 'blue' )">Blue</button><br />
             <button ng-click="putColor(node.id, 'off')">Off</button><br />
        </div>
        </div>
      </div>
      <p ng-repeat-end ></p>
   </div>
  </body>
</html>
